@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body { height: 100%; margin: 0; padding: 0; }

#footer { padding: 10px 20px; color:white; background: #333; text-align: center; }

.content-body {
  padding: 10px 20px;
  background: #e7e7e7;
  background-attachment: fixed;
}

.container {
  font-family: "Segoe UI", Helvetica, sans-serif, serif;
}

#header{
  font-family: "Montserrat", "Segoe UI", Helvetica, sans-serif, serif;
  color:white;
  margin:0px;
  text-align: center;
  height:100%;
  font-size: 40px;
  background: black;
  background:black url("../images/banner.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;

  /*
  animation-name: banner-animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  */
}
@keyframes banner-animation{
  0% {
    background: black url("../images/banner2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
  }
  20% {
    background: black url("../images/banner1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
  }
  40% {
    background: black url("../images/banner3.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
  }
  60% {
    background: black url("../images/banner4.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
  }
  80% {
    background: black url("../images/banner5.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
  }
  100% {
    background: black url("../images/banner2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
  }
}

#name{
  margin-top:calc(30vh);
}
#header-text{
  font-size: 0.6em;
  margin: 0px 30px;
}

.down {
  font-size: 10px;
  display: inline-block;
  border-style: solid;
	border-width: 0.35em 0.35em 0 0;
  width: .5em;
	height: .5em;
	position: relative;
	transform: rotate(135deg);
  color: #F5F5F5;

  animation-name: down-animation;
	animation-duration: 3000ms;
  transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes down-animation {
	0% { transform: rotate(135deg) scale(1); }
	30% { transform: rotate(135deg) scale(1); }
	40% { transform: rotate(135deg) scale(2); }
	50% { transform: rotate(135deg) scale(1); }
	60% { transform: rotate(135deg) scale(1); }
	70% { transform: rotate(135deg) scale(2); }
	80% { transform: rotate(135deg) scale(1); }
	100% { transform: rotate(135deg) scale(1); }
}



ul {
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;     /* For safari */
    top: 0px;
    width: 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #3b75d3;
}
table{
    border: 1px solid black;
    border:none;
    border-spacing: 0px;
    border-collapse: collapse;
    text-align:center;
    width:100%;
    height:100%;
    padding:15px;
}
th, td {
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 10px;
}
#pr{
  margin: -10px -20px;
  height:150px;
  display:block;
  background-color: #333;
}
#profile-pic{
  margin-top:-135px;    /* Half of the height/width, plus border*2 cause it messes with */
  height: 250px;
  width: 250px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-radius: 50%;
  border:10px solid #333;
}
#topbar-menu-tgthr{
  background-color:#9E5EE8;
}
#who-tgthr{
  color:#9E5EE8;
}
#what-tgthr{
  color:#9E5EE8;
}
h1{
  font-weight: 800;
  color:#ff7214;
  font-size: 2em;
  margin-bottom: -10px;
}
.bodypara {
  border-radius: 7px;
  overflow: auto;
  padding:1.2em;
  background:black;
  background:rgba(0,0,0,0.3);
  margin: 1em 5em;
  font-size: 1.2em;
}
.center {
  /* margin: 0px 6em; */
  padding: 0px 6em;
  display: flex;
  justify-content: space-around;
  overflow-y: hidden;
}
.center a{
  padding:10px;
  text-align: center;
  transition-duration: 0.2s;
  color:white;
  text-decoration: none;
}
.center a:hover{
  transform: scale(1.05);
}
.tb-30 {
  padding-top:20px;
  padding-bottom:20px;
}
.wid {
  z-index: 0;
  display: inline-block;
  vertical-align: middle;
  transition-duration: 0.1s;
  height:50px;
  margin:30px 0em;
}
.bg-proj{
  background:#0069ff;
}
.proj{
  width:27%;
  overflow:auto;
  max-height: 300px;
  background:#5b9aff;
  border:3px solid rgb(0, 0, 0);
}
.proj:hover{
  color:black;
  background:white;
}
.wid:hover {
  transform: scale(1.1);
}
#footer2{
  color:#5b5b5b;
}
/* Phone screens */
@media only screen and (orientation: portrait) {
    ul {
        display:none;
    }
    .bodypara{
      margin: 0px 0px;
    }
    .center{
      padding: 0px 0px;
    }
    .bg-proj{
      padding:10px 10px;
    }
}
