body{
    background:url("../images/main-bg.png") no-repeat;
    background-size:cover; 
    background-position: center; 
    background-position:top;
}
hr {
    border-color: black;
    background-color:black;
    height:2px;
}
h1{
    font-family:"Arial Black", Gadget, sans-serif;
    text-align: center;
    margin: 25px;
    margin-bottom:50px;
    border:2px solid Tomato;
    color:black;
}
h3{
    font-family:"Arial Black", Gadget, sans-serif;
    text-align: center;
    margin: 25px;
    border:2px solid lightblue;
    color:white;
    background-color:rgba(0, 0, 0,0.4);
}
#id1{
    display:block;
    margin: auto;
    width: 80%;
    margin-bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding: 25px;
    border:2px solid lightblue;
    background-color:rgb(66, 134, 244);    /* backup incase */
    background-color:rgba(66, 134, 244,0.4);
}
#id2{
    display:block;
    margin: auto;
    width: 80%;
    margin-bottom: 25px;
    font-size:150%;
    color:white;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding: 25px;
    border:2px solid red;
    background-color:rgb(209, 54, 85);    /* backup incase */
    background-color:rgba(209, 54, 85,0.4);
}
#id3{
    display:block;
    margin: auto;
    width: 80%;
    margin-bottom: 25px;
    font-size:150%;
    color:white;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding: 25px;
    border:2px solid black;
    background-color:white;    /* backup incase */
    background-color:rgba(255, 255, 255,0.4);
}
.button {
    margin:10px;
    width:80%;
    padding: 25px;
    outline: none;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #4CAF50;
    border: none;
}
.button:hover {background-color: #3e8e41}