/* Reset */
html, body { height: 100%; margin: 0; padding: 0; }

/* Essentials */
.container { display: table; }
.content { display: table-row; height: 100%; }
/* .content-body { display: table-cell; } */

/* Aestetics */
.container {
  width: 100%;
  font-family: "Segoe UI", sans-serif, serif;
}
.footer { padding: 10px 20px; color:white; background: #333; text-align: center; }
.content-body { padding: 10px 20px; background: #e7e7e7; }
/* .content-body{ height:1000px; } */
body {margin:0;}

#header{
  margin:0px;
  text-align: center;
  color:white;
  height:200px;
  line-height: 200px;
  font-size: 30px;
  /* font-family: "Webdings", "Helvetica", sans-serif; */
  /* background-image: url(); */
  background: skyblue;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky!important;
    top: 0px;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #3b75d3;
}
table{
    border: 1px solid black;
    border:none;
    border-spacing: 0px;
    border-collapse: collapse;
    text-align:center;
    width:100%;
    height:100%;
    padding:15px;
}
th, td {
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 10px;
}
#bl{
  color:blue;
}
#re{
  color:red;
}
#gr{
  color:green;
}
/* #table1{
    text-decoration:none;
    display:block;
    color:rgba(0,0,0,0);
    font-size:20px;
    margin:auto;
    height:100%;
    width:100%;
    background:url("../images/mindscape.jpg") no-repeat;
    background-size: cover;
}
#table1:hover{
    color:white;
    font-size:20px;
    background:black;
}
#table2{
    text-decoration:none;
    display:block;
    color:rgba(0,0,0,0);
    font-size:20px;
    margin:auto;
    height:100%;
    width:100%;
    background:url("../images/mindscape.jpg") no-repeat;
    background-size: cover;
}
#table2:hover{
    color:white;
    font-size:20px;
    background:black;
}
#table3{
    text-decoration:none;
    display:block;
    color:rgba(0,0,0,0);
    font-size:20px;
    margin:auto;
    height:100%;
    width:100%;
    background:url("../images/cityscape.jpg") no-repeat;
    background-size: cover;
}
#table3:hover{
    color:white;
    font-size:20px;
    background:black;
}
#table4{
    text-decoration:none;
    display:block;
    color:rgba(0,0,0,0);
    font-size:20px;
    margin:auto;
    height:100%;
    width:100%;
    background:url("../images/sliceoflife.png") no-repeat;
    background-size: cover;
}
#table4:hover{
    color:white;
    font-size:20px;
    background:black;
} */
