/* Reset */
html, body { height: 100%; margin: 0; padding: 0; }

/* Essentials */
.container { display: table; }
.content { display: table-row; height: 100%; }
/* .content-body { display: table-cell; } */

/* Aestetics */
.container {
  width: 100%;
  font-family: "Segoe UI", sans-serif, serif;
}
.footer { padding: 10px 20px; color:white; background: #333; text-align: center; }
.content-body { padding: 10px 20px; background: #e7e7e7; }
/* .content-body{ height:1000px; } */
body {margin:0;}

#header{
  margin:0px;
  text-align: center;
  color:lightgrey;
  height:200px;
  line-height: 200px;
  font-size: 30px;
  font-family: "Webdings", "Helvetica", sans-serif;
  /* background-image: url(); */
  background: skyblue;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow:auto;
}
#header2{
  color:white;
  font-family:"Segoe UI", sans-serif, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky!important;
    top: 0px;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #3b75d3;
}
